.pass{
    height: 500px;
    width: 500px;
    overflow: hidden;
}
.add{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: red;
}
.port{
    position: absolute;
    width: 500px;
    top: 500px;
}

.add:hover,.porto{
    top: 200px;
}